<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Application</th>
    </tr>
  </thead>
  <tbody>
    <%= for {id, app} <- @applications do %>
        <tr>
          <th scope="row"> <%= id %> </th>
          <td>
            <a href="/<%= app %>" style="display:block; height:100%"> <%= app %> </a>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
